/* место для вашего кода */

.header .footer section {
    margin: auto;
}

.header {
    max-width: 1440px;
    display: grid;
    padding: 92px 50px 92px 50px;
    grid-template-columns: repeat(3, 1fr);
    text-underline-position: under;
    margin: auto;
}

.header_menu {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    justify-self: start;
}

.header_link-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item {
    font-size: 18px;
    gap: 32px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header_link_active {
    text-decoration: none;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}


.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    list-style: none;
    white-space: pre-line;
    text-underline-position: under;
    color: #000;
    align-self: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    /* 135% */
}

.cover {
    background-position: center;
    position: relative;
    max-width: 1440px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: auto;
    z-index: 0;
    text-transform: uppercase;
}

.cover_title {
    padding: 165px 50px 110px 50px;
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    inset: 0px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.letter-spacing-extended {
    letter-spacing: 60px;
}


.aligned-text {
    display: block;

}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    justify-content: end;
    align-items: center;
    gap: 77px;
}

.cover__description-text {
    justify-content: end;
    align-content: space-between;
    word-spacing: 18px;
}

.bet-button {
    color: #fff;
    background: transparent;
    border: 1px solid;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 32px;
}

.lots {
    max-width: 1440px;
    padding: 181px 50px 180px 50px;

    margin: auto;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    padding-bottom: 25px;
}

.lots__card-list-item {
    flex-grow: 1;
    width: 430px;
    min-height: 450px;
}

.lots__heading {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    padding: 50px 40px;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    min-height: 450px;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    min-height: 450px;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    min-height: 450px;
}

.card__title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.lots__look-more-link {
    padding-left: 40px;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    max-width: 1440px;
    margin: auto;
}

.about__column {
    padding: 5px 50px 85px 24px;
    display: grid;
    grid-template-rows: 240px 271px;
    grid-template-columns: 1fr 65%;
}

.about__logo {
    display: flex;
    justify-self: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border: none;
    border-radius: 50%;
}

.about__title {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;

    padding-top: 9px;
}

.about__logo-image {
    justify-content: center;
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.about__text {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 1px;
    padding-top: 9px;
    row-gap: 25px;
}

.about__text_space {
    padding-top: 20px;
}

.footer {
    max-width: 1440px;
    display: grid;
    padding: 72px 48px 90px 50px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 135% */
    gap: 310px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-underline-position: under;
}

.footer__menu-list-item {
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 50px;
}

.footer__social-list-item {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}